<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= locals.title %>
  </title>
  <meta name="description" content="<%= locals.description %>">

  <link rel="icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrUOWDIW2lf9FG6mvwpTzR9ObNdfKYOq2sAw&usqp=CAU"
    type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/Patients.css">
</head>

<body>
  <%- include ("../Partials/header.ejs") %>

    <%- include("../Partials/sidebar.ejs") %>

      <%- body %>

</body>

</html>